#app:not(.loaded) {
    display: none;
}

.folder-list {
    list-style: none;
    padding-left: 0;
}
.folder-list.children, .file-list {
    margin-left: 4rem;
}

.folder > .info > .name {
    width: 10em;
    display: inline-block;
}

.folder.all > .info {
    color: hsl(120,80%,35%);
    font-weight: bold;
}
.folder.none > .info {
    color:#aaa;
}
.folder {
    margin:0.4rem 0;
    display: inline-block;
}
.folder > .info {
    background:#f4f4f4;
    padding: 0.2rem 1rem;
    display:inline-block;

}
.file-list {
    list-style: none;
    background: hsl(240,0%,90%);
    padding: 0.5rem;
}
.file {
    display: flex;
}

.file > .name {
    flex: 1;
}
.name {
    font-family: monospace;
}
.file input[type="checkbox"] {
    display:none;
}
.file:not(.use) {
    color: #aaa;
    text-decoration: line-through;
}

main {
}
section {
    padding: 0 1rem;
}
section:not(.active) {
    display: none;
}

.filesize.B { font-size: 0.7em; }
.filesize.KB { font-size: 0.9em; }
.filesize.MB { font-size: 1.3em; }
.filesize.GB { font-size: 1.6em; }

#test {
    width: 100%;
    margin: 1rem 0;
}

#app header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #ccc;
}

nav {
    flex: 1 0;
}

nav > a, #total-size {
    padding: 0.5rem;
    font-size: 1.3rem;
    line-height: 1em;
}
nav > a {
    cursor: pointer;
    display: inline-block;
}

nav > a.active {
    background: black;
    color: white;
}
nav > a:not(:last-child)::after {
    content: '→';
    margin-left: 0.5rem;
}

.help-text {
    color: #666;
    display: block;
}

#component-groups {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.component-group {
    flex: 1 0 30%;
    margin: 0em 1em 1em 0;
}
.component-group ul {
    list-style: none;
    padding-left: 1rem;
}
.component label {
    display: block;
}
.component .help-text {
    padding-left: 2em;
}
textarea {
    width: 100%;
    height: 15em;
}